html,
body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.form-control {
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.btn-primary {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.btn-primary {
    background-color: #271ea0;
    border-color: #271ea0;
    width: 100%;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.btn-primary:hover {
    background-color: #1e97a0;
    border-color: #1e97a0;
}
