/* Estilos para el contenedor principal */
.register-container {
    height: 100%;
}
.register-row {
    height: 100vh;
}

/* Estilos para el panel izquierdo */
.left-panel-register {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el panel derecho */
.right-panel-register {
    background-color: #1e56a0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
}

/* Estilos para la tarjeta de registro */
.register-card {
    background: white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}
.logo-container {
    text-align: center;
    padding: 2rem;
}
.logo-container img {
    max-width: 100%;
    height: auto;
}

/* Estilos formulario */
.form-control {
    border-radius: 0.5rem;
    padding: 0.75rem;
}
a {
    color: #0466c8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
